<h1>Edit Exercise Movement</h1>

<br></br>

<form action="/movements/<%= @movement.generate_slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label for="name">Name:</label>
  <input type="text" name="movement[name]" id="name" value="<%= @movement.name %>"><br></br>

  <label for="instructions">Instructions:</label>
  <input type="text" name="movement[instructions]" id="instructions" value="<%= @movement.instructions %>"><br></br>

  <label for="target_area">Target Area:</label>
  <input type="text" name="movement[target_area]" id="target_area" value="<%= @movement.target_area %>"><br></br>

  <label for="reps">Reps:</label>
  <input type="text" name="movement[reps]" id="reps" value="<%= @movement.reps %>"><br></br>

  <label for="modification">Modification:</label>
  <input type="text" name="movement[modification]" id="modification" value="<%= @movement.modification %>"><br></br>

  <label for="challenge">Challenge:</label>
  <input type="text" name="movement[challenge]" id="challenge" value="<%= @movement.challenge %>"><br></br>

  <label>Choose which of your workout routine(s) will incorporate this new exercise movement:</label><br></br>

  <% current_user.routines.each do |routine| %>
    <input type="checkbox" name="movement[routine_ids][]" value="<%= routine.id %>" id="<%= routine.name %>" <%= 'checked' if routine.movements.include?(@movement) %>><%= routine.name %></input>
  <% end %>

  <br></br>

  <label>And/Or, create a new workout routine in which this exercise is performed:</label>

  <br></br>

  <label for="routine_name">Name:</label>
  <input type="text" name="routine[name]" id="routine_name"><br></br>

  <label for="training_type">Training Type:</label>
  <input type="text" name="routine[training_type]" id="training_type"><br></br>

  <label for="duration">Duration:</label>
  <input type="text" name="routine[duration]" id="duration"><br></br>

  <label for="difficulty">Difficulty Level:</label>
  <input type="text" name="routine[difficulty_level]" id="difficulty"><br></br>

  <label for="equipment">Equipment:</label>
  <input type="text" name="routine[equipment]" id="equipment"><br></br>

  <input type="submit" value="Edit Exercise">
</form>
