<h1><%= @movement.name %></h1>
<p><strong>Instructions:</strong> <%= @movement.instructions %></p>
<p><strong>Target Area:</strong> <%= @movement.target_area %></p>
<p><strong>Reps:</strong> <%= @movement.reps %></p>
<p><strong>Modification:</strong> <%= @movement.modification %></p>
<p><strong>Challenge:</strong> <%= @movement.challenge %></p>
