<h2><%= @movement.name %></h2>
<h4><em>~Exercise Movement Designed by <%= @movement.user.name %>~</em></h4>

<p><strong>Instructions to Perform Exercise:</strong> <%= @movement.instructions %></p>
<p><strong>Target Area:</strong> <%= @movement.target_area %></p>
<p><strong>Number of Reps per Set:</strong> <%= @movement.reps %></p>
<p><strong>Number of Sets:</strong> <%= @movement.sets %></p>
<p><strong>Modification:</strong> <%= @movement.modification %></p>
<p><strong>Challenge:</strong> <%= @movement.challenge %></p>

<p><a href="/movements/<%= @movement.id %>/edit">Edit Exercise</a></p>

<form action="/movements/<%= @movement.generate_slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Exercise">
</form>
